{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block stylesheets %}
    <link href="../../../assets/styles/creer-sortie.css" rel="stylesheet">
{% endblock %}

{% block body %}

{#    {{ dump(sortie.lieu) }}#}
    <main class="form-custom form w-100 m-auto text-center">

        <h2>Annuler une sortie</h2><br><br>

        <div>
            <label>Nom de la sortie : </label>
            {{ sortie.nom }}
        </div><br>
        <div>
            <label>Date de la sortie : </label>
            {{ sortie.dateHeureDebut|date('d/m/Y') }}
        </div><br>
        <div>
            <label>Campus : </label>
            {{ sortie.campus.nom }}
        </div><br>
        <div>
            <label>Lieu : </label>
            {{ sortie.lieu.nom }}
        </div><br>
        <div>
            <label>Rue : </label>
            {{ sortie.lieu.rue }}
        </div><br>
        <div>
            <label>Code postal : </label>
            {{ sortie.lieu.ville.codePostal }}
        </div><br>
        <div>
            <label>Ville : </label>
            {{ sortie.lieu.ville.nom }}
        </div><br>

        {{ form_start(annulerSortieForm) }}
        <div>
            Motif
            {{ form_widget(annulerSortieForm.infosSortie, {'attr': {'class': 'input-group-text w-25 m-auto text-center'}}) }}
        </div><br><br>
    {#    <button>Enregistrer</button>#}
        {{ form_end(annulerSortieForm) }}
    {#    <form action="{{ path('sorties_list') }}"><button>Annuler</button></form>#}
    </main>
{% endblock %}


