{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div>
        <h2>Créer une nouvelle sortie :</h2>

        {{ form_start(creerSortieForm) }}

            <label for="sortie_nom" class="input-group-text">Nom de la sortie :</label>
            {{ form_widget(creerSortieForm.nom) }}
            {{ form_errors(creerSortieForm.nom) }}

        <label for="sortie_dateHeureDebut" class="input-group-text">Date et heure de la sortie :</label>
            {{ form_widget(creerSortieForm.dateHeureDebut) }}
            {{ form_errors(creerSortieForm.dateHeureDebut) }}

        <label for="sortie_dateLimiteInscription" class="input-group-text">Date limite d'inscription :</label>
            {{ form_widget(creerSortieForm.dateLimiteInscription) }}
            {{ form_errors(creerSortieForm.dateLimiteInscription) }}

        <label for="sortie_nbInscriptionsMax" class="input-group-text">Nombre de places :</label>
            {{ form_widget(creerSortieForm.nbInscriptionsMax) }}
            {{ form_errors(creerSortieForm.nbInscriptionsMax) }}

        <label for="sortie_duree" class="input-group-text">Durée de la sortie :</label>
            {{ form_widget(creerSortieForm.duree) }}
            {{ form_errors(creerSortieForm.duree) }}

        <label for="sortie_infosSortie" class="input-group-text">Description et informations :</label>
            {{ form_widget(creerSortieForm.infosSortie) }}
            {{ form_errors(creerSortieForm.infosSortie) }}

        <label for="sortie_campus" class="input-group-text">Campus :</label>
            {{ form_widget(creerSortieForm.campus) }}
            {{ form_errors(creerSortieForm.campus) }}

        <label for="sortie_ville" class="input-group-text">Ville :</label>
            {{ form_widget(creerSortieForm.ville) }}
            {{ form_errors(creerSortieForm.ville) }}

        <label for="sortie_lieu" class="input-group-text">Lieu :</label>
            {{ form_widget(creerSortieForm.lieu) }}
            {{ form_errors(creerSortieForm.lieu) }}

            {{ form_widget(creerSortieForm.enregistrer) }}

            {{ form_widget(creerSortieForm.publier) }}

        {{ form_end(creerSortieForm) }}

    </div>
{% endblock %}

