{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
    <link href="../../assets/styles/creer-sortie.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <main class="form-custom form w-100 m-auto text-center" style="padding-bottom: 30px">
        <h2>Créer une nouvelle sortie :</h2><br>

        {{ form_start(creerSortieForm) }}

        <div>
            <label for="sortie_nom">Nom de la sortie :</label>
            {{ form_widget(creerSortieForm.nom, {'attr': {'class': 'input-group-text w-25 m-auto text-center'}}) }}
            {{ form_errors(creerSortieForm.nom) }}
        </div><br>

        <div>
            <label for="sortie_dateHeureDebut">Date et heure de la sortie :</label>
            {{ form_widget(creerSortieForm.dateHeureDebut, {'attr': {'class': 'input-group-text w-25 m-auto text-center'}}) }}
            {{ form_errors(creerSortieForm.dateHeureDebut) }}
        </div><br>

        <div>
            <label for="sortie_dateLimiteInscription">Date limite d'inscription :</label>
            {{ form_widget(creerSortieForm.dateLimiteInscription, {'attr': {'class': 'input-group-text w-25 m-auto text-center'}}) }}
            {{ form_errors(creerSortieForm.dateLimiteInscription) }}
        </div><br>

        <div>
            <label for="sortie_nbInscriptionsMax">Nombre de places :</label>
            {{ form_widget(creerSortieForm.nbInscriptionsMax, {'attr': {'class': 'input-group-text w-25 m-auto text-center'}}) }}
            {{ form_errors(creerSortieForm.nbInscriptionsMax) }}
        </div><br>

        <div>
            <label for="sortie_duree">Durée de la sortie :</label>
            {{ form_widget(creerSortieForm.duree, {'attr': {'class': 'input-group-text w-25 m-auto text-center'}}) }}
            {{ form_errors(creerSortieForm.duree) }}
        </div><br>

        <div>
            <label for="sortie_infosSortie">Description et informations :</label>
            {{ form_widget(creerSortieForm.infosSortie, {'attr': {'class': 'input-group-text w-25 m-auto text-center'}}) }}
            {{ form_errors(creerSortieForm.infosSortie) }}
        </div><br>

        <div>
            <label for="sortie_campus">Campus :</label>
            <div style="font-weight: bold">{{ user.campus }}</div>

        </div><br>

        <div>
            <label for="sortie_ville">Ville :</label>
            {{ form_widget(creerSortieForm.ville, {'attr': {'class': 'input-group-text w-25 m-auto text-center'}}) }}
            {{ form_errors(creerSortieForm.ville) }}
        </div><br>

        <div>
            <label for="sortie_lieu">Lieu :</label>
            {{ form_widget(creerSortieForm.lieu, {'attr': {'class': 'input-group-text w-25 m-auto text-center'}}) }}
            {{ form_errors(creerSortieForm.lieu) }}
        </div>



        <br><br>

        <div>
            {{ form_widget(creerSortieForm.enregistrer, {'attr': {'class': 'btn btn-success'}}) }}

            {{ form_widget(creerSortieForm.publier, {'attr': {'class': 'btn btn-primary'}}) }}

            <a href="{{path('sorties_list')}}" class="btn btn-warning">Annuler</a>
        </div>

        {{ form_end(creerSortieForm) }}

    </main>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            // On va chercher la région
            let ville = document.querySelector("#creer_sortie_ville");

            ville.addEventListener("change", function (){
                let form = this.closest("form");
                console.log(form);
                let data = this.name + "=" + this.value;

                fetch(form.action, {
                    method: form.getAttribute("method"),
                    body: data,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded; charset:utf-8"
                    }
                })
                    .then(response => response.text())
                    .then(html => {
                        let content = document.createElement("html");
                        content.innerHTML = html;
                        let nouveauSelect = content.querySelector("#creer_sortie_lieu");
                        document.querySelector("#creer_sortie_lieu").replaceWith(nouveauSelect);
                    })
            });
        }
    </script>
{% endblock %}


