{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <h2>Publier une sortie</h2>

    <div>
        <label>Nom de la sortie : </label>
        {{ sortie.nom }}
    </div>
    <div>
        <label>Date de la sortie : </label>
        {{ sortie.dateHeureDebut|date('d/m/Y') }}
    </div>
    <div>
        <label>Campus : </label>
        {{ sortie.campus.nom }}
    </div>
    <div>
        <label>Lieu : </label>
        {{ sortie.lieu.nom }} {{ sortie.lieu.rue }} {{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}
    </div>


    {{ form_start(publierSortieForm) }}
    {{ form_end(publierSortieForm) }}

{% endblock %}