<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Sortir.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('sorties_creerSortie') }}">Créer sortie</a>
                </li>
            </ul>
            {# Si l'utilisateur est connecté #}
            {% if app.user %} 
                <div class="d-flex d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3">
                    <a class="nav-link" aria-current="page" href="{{ path('profil_afficher',{'id':app.user.id})}}">Mon profil</a>
                    <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% else %}
            {# Si l'utilisateur n'est pas connecté #}
                <div class="d-flex d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3">
                    <a class="nav-item nav-link" aria-current="page" href="{{ path('app_login') }}">Se connecter</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>